:root {
  --border-radius-mid: .25rem;
  --padding-mid: .5rem;
  --padding-large: .75rem;
  --padding-big: 1rem;
}

.main_container {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family:'Courier New', Courier, monospace;
}

.blog_container {
  min-height: 90vh;
  min-width: 75vw;
  max-width: 75vw;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content blank"
    "footer footer footer";
  grid-template-columns: .5fr 2fr .5fr;
  grid-template-rows: 10vh 50fr 5vh;
  gap: .25rem;
  border-width: 10px;
  border-color: blue;
}

.blog_container > .content {
  border-width: .1rem;
  border-color: green;
  border-style: solid
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: stretch;
  justify-content: flex-start;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: var(--padding-big);

}

.content > * {
  margin-bottom: 20px;
}

.content_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content_image_container > .content_image_caption {
  font-style: italic;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > a {
  text-decoration: underline;
  color: aquamarine;
}

.blog_nav_button {
  border: none;
  padding: .5rem .25rem;
  background-color: green;
  border-radius: var(--border-radius-mid);
  margin: .25rem;
}

.nav_title_container {
  display: flex;
  align-items: center;
  justify-content: center;
}